<body>
    <div class="registration-container">
        <img src="{{ url_for('static', filename='img/core-img/logo.png') }}" alt="Logo">
        <h1>Registration Form</h1>
        <form class="registration-form" id="registrationForm" onsubmit="submitForm(event)">
            <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <div class="form-group">
                <button type="submit">Register</button>
                <button type="button" class="login" onclick="redirectToLogin()">Login</button>
            </div>
        </form>
    </div>
        <script>
        function submitForm(event) {
            event.preventDefault();
const firstName = document.getElementById('Name').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;


            fetch("{{ url_for('signup') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    Name: firstName,
                    email: email,
                    password: password
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Registration Successful!");
                    redirectToLogin();
                } else {
                    alert("Registration failed. Please try again.");
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("An error occurred. Please try again.");
            });
        }
    </script>

</body>
</html>
